<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
          function validateForm(){
          let flag=true;
          if(new RegExp("^[a-z0-9]{3,}$","i").test(document.getElementById("fname").value))
            document.getElementById("fname_error").style.display="none";
          else{
            document.getElementById("fname_error").style.display="block";
            flag=false;
          }


          if(new RegExp("^[a-z0-9]*$","i").test(document.getElementById("lname").value))
            document.getElementById("lname_error").style.display="none";
          else{
            document.getElementById("lname_error").style.display="block";
            flag=false;
          }

          if(new RegExp("^[a-z0-9]+$","i").test(document.getElementById("uname").value))
            document.getElementById("uname_error").style.display="none";
          else{
            document.getElementById("uname_error").style.display="block";
            flag=false;
          }

          const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          if(!re.test(document.getElementById("email").value)){
            document.getElementById("email_error").style.display="block";
            flag=false;
          }
          else
            document.getElementById("email_error").style.display="none";

        if(document.getElementById("pwdd").value.length==0){
            document.getElementById("pwd_error").innerHTML="Password cannot be left blank";
            document.getElementById("pwd_error").style.display="block";
            flag=false;
        }
        else if(new RegExp("[\\s]").test(document.getElementById("pwdd").value)){
            document.getElementById("pwd_error").innerHTML="Password cannot contain space";
            document.getElementById("pwd_error").style.display="block";
            flag=false;
        }
        else if(document.getElementById("pwdd").value!=document.getElementById("confpwd").value){
            document.getElementById("pwd_error").innerHTML="Both the passwords do not match";
            document.getElementById("pwd_error").style.display="block";
            flag=false;
        }
        else{
            document.getElementById("pwd_error").style.display="none";
        }

    return flag;

}





    </script>
</head>
<body>
<div class="container-fluid">
    <center style="margin:10px;font-size:20px;"><b>Registration form</b></center>
    <form class="form-horizontal" action="register" method="post" onsubmit="return validateForm()">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                {{form.firstname.errors}}
                <input type="text" class="form-control" id="fname" name="firstname" placeholder="First name">
            </div>
        </div>

        <strong id="fname_error" class="col-sm-offset-4 col-sm-4"
                style="display:none;color:red;margin-top:0px;margin-bottom:12px">First name should only contain
            characters and numbers. Minimum 3 characters</strong>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <input type="text" class="form-control" id="lname" name="lastname" placeholder="Last name">
            </div>
        </div>
        <strong id="lname_error" class="col-sm-offset-4 col-sm-4"
                style="display:none;color:red;margin-top:0px;margin-bottom:12px">Last name should only contain
            characters and numbers</strong>
        <div class="form-group">
            <div class="col-sm-offset-4  col-sm-4">
                <input type="text" class="form-control" id="uname" name="username" placeholder="Username">
            </div>
        </div>
        <strong id="uname_error" class="col-sm-offset-4 col-sm-4"
                style="display:none;color:red;margin-top:0px;margin-bottom:12px">Username should only contain
            characters and numbers.</strong>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>
        </div>

         <strong id="email_error" class="col-sm-offset-4 col-sm-4"
                style="display:none;color:red;margin-top:0px;margin-bottom:12px">Invalid email</strong>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <input type="password" class="form-control" id="pwdd" name="password1" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <input type="password" class="form-control" id="confpwd" name="password2" placeholder="Confirm password">
            </div>
        </div>
        <strong id="pwd_error" class="col-sm-offset-4 col-sm-4"
                style="display:none;color:red;margin-top:0px;margin-bottom:12px"></strong>



        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <input type="submit" class="btn btn-default"/>
            </div>
        </div>
        <div class="col-sm-offset-4 col-sm-10">
            {% if messages %}
                {% for message in messages %}
                    <h3 style="color:red">{{message}}</h3>
                {% endfor %}
            {% endif %}
        </div>
    </form>
</div>

</body>
</html>