<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <style>
        .bottomMargin{margin-bottom:12px}
    </style>
    
</head>
<body>
    <div class="container">
        <div class="col-md-2">
            <input type="text" class="form-control col-xs-3" style="margin-top:12px" placeholder="Search">
        </div>
        <div>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Customer Id</th>
                    <th>Customer Name</th>
                    <th>No of Policies</th>
                    <th>View/Edit Customer details</th>
                    <th>View/Add policies</th>
                    
                </tr>
                
               {% for cust in custs %}
                <tr>
                    <td>{{ cust.id }}</td>
                    <td>{{ cust.name }}</td>
                    <td></td>
                    <td><a href="/client/modify/{{ cust.id }}"><i class="glyphicon glyphicon-edit"></i></a></td>
                    <td><a href="#"><i class="glyphicon glyphicon-eye-open"></i></a>&nbsp&nbsp&nbsp&nbsp<a href="/client/policy/add/{{ cust.id }}"><i class="glyphicon glyphicon-plus"></i></a></td>
               </tr>
               {% endfor %}
               
            </div>
        </div>
    </div>
</body>
</html>